
.search-form{
display: flex;
position: relative;
/* width: 400%; */
}

.search-button{
  padding: 13px;
  position: absolute;
  top: -1px;
right: -10px;
    background-color: #00a046;
    color: #fff;
   border-top-right-radius: 13px;
   border-bottom-right-radius: 13px;
  font-size: 18px;
}

input{
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  /* padding-left: 40px; */
  padding: 15px;
  border-radius: 13px;
  width: 300%;
}
.form{
  width: 50%;
}
.form button{
  cursor: pointer;}
::placeholder{
font-size: 20px;
vertical-align: middle;
}